Offline mobile app -> Lifelink Donation Coordination app

allow users to register donors and create donation requst for blood or organs.

Local db no nework requests 

Rule:
Fetch external libraries(like image_picker) will be provided
App must operate Offline
may use system image picker intnts only. No third party image libraries are allowed


screens - 

1. Welcome screen 
1.1 register as donor 
1.2 create donation req
2. Donor Registration screen

Use following details : 

Full name, Valid id prood, organ(dropdown), blood group, mobile number, city/area, last donation date, availability togggle, valid medica eligibility, document image, Register buttn

3. Create donation req screen 

This must allow to create a donation request : 

1. Pateint name donation request (blood or any organ)
2. blood group 
3. image of valid medical document with signature of a valid doctor 
4. mobile no of requester 
5. request type : {Emergency: if urgently required, planned : if needed in future}
6. hospital name
7. Short description of request 

Submit button

4. donor matching result screen 

for each donor, donor name, blood group, city, availability status

Backend serves are not allowed 
Firebase not allowed


Technical constaints : 

1. DOnor reg screen 

Store info in JSON format 

Full name, ID proof image URI, organ, blood group, mobile no, city, last donation date, medical image uro. availabilitystatus

2. Donoation req screen 

Patient name, required blood group, medical document iamge uri, mobile number, request type(emergency/planned), ospital name, description 

3. Donor matching screen 

match based on foll conditoons 

1. donor blood group match req blood group
2. donor must belong to same city
3. donor must be marked as available 
4. emergency req with highest priorityu be dsiplayed than low priority 

JSON : 

Local JSON must be included under assets/resourceaa


Instructions to submit :-

1. Prepare submission folder as 

Source code + build artifact(apk)+ README+ screenshots

2. File naming convention : XX_Lifelink_App.apk

Local json must be included under assets/resources

README must include steps to build the app from source code, target platform/SDK version, any other relevant info

Local json parsing approach and where the file is stored on storage schema (table/fields) and how images are saved

Permissions used and how denial states are handled 



